<h1><%= @workout.name %></h1>

<h3><%= @workout.day.strftime("I worked out on %m/%d/%Y") %></h3><br>


<% @workout.exercises.each do |exercise| %>
<%= link_to exercise.name, exercise %><br>
<% end %>
