
<div class="mb-3">
  <h3> Commenting on workout: <strong><%= @workout.name  %></strong></h2>
  <%= form_for [@workout, @comment] do |f|%>
    <%= f.text_area :body, class: "form-control" %>
    <br>
    <%= f.submit class:"btn btn-primary" %>
  <% end %>
</div>
