<div class="container-fluid" align="center">
  <h1>Exercises</h1>
  <br>

  <div class='row'>
    <% @exercises.each do |ex| %>
      <div class='col-md-12'>
        <div class='card mb-3 box-shadow'>
          <div class="card-body" align="left" >
            <h5 class="card-text"><%= link_to ex.name, ex %></h5>
            <p><%= ex.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
