<h1>Exercises</h1>

<br>


<div class=.four-ul>
  <ul>
<% @exercises.each do |exercise| %>

<b><%= link_to "#{exercise.name}", exercise_path(exercise) %></b>
<br>
Description: <%= "#{exercise.description} " %>
<br>
Exercises Category:  <%= exercise.category.capitalize %>
<hr>
<% end %>
</ul>
</div>
